@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 80%;
  overflow-x: hidden;
}
:root {
  --second-color: #00bfff;
  --third-color: #f06;
  --four-color: #cccccc;
  --bg-color: #081b29; /* Định nghĩa biến --main-color với giá trị là màu #00bfff */
}
/* Header design --> */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header.sticky {
  background: #0c1022;
}

/* Logo design --> */
.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  pointer-events: none;
  opacity: 0;
  animation: slideTop 1s ease forwards;
}

/* Navbar design --> */
.navbar a {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.navbar a.active,
.navbar a:hover {
  background: linear-gradient(45deg, #f06, #3cf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.navbar i {
  display: none;
}
/* Home design -->*/
.home {
  background: #0c1022;
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
}
.home-content {
  max-width: 500px;
  margin-left: -30px;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  /* padding-left: 15%;*/
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.home-content p {
  font-size: 16px;
  margin: 20px 0 30px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.3s;
}
.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 60px;
  border-radius: 40px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 600;
  letter-spacing: 1px;
  z-index: 1;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1.5s;
}
.btn::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #f06, #3cf, #f06);
  z-index: -1;
  background-size: 200%;
  background-position: 0 0;
  border-radius: 40px;
  background-size: 200%;
  filter: blur(5px);
  transition: 0.5s ease;
}
.btn::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #f06, #3cf, #f06);
  background-position: 0 0;
  background-size: 200%;
  z-index: -1;
  border-radius: 40px;
  transition: 0.5s ease;
}
.btn:hover::after {
  background-position: 100% 0;
}
.home-sci a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #f06, #3cf);
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  margin: 20px 0;
  z-index: 1;
}
.home-sci a:nth-child(1) {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 2.1s;
}
.home-sci a:nth-child(3) {
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2.1s;
}
.home-sci a:nth-child(2) {
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 2.1s;
}
.home-sci a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #f06, #3cf);
  border-radius: 50%;
  z-index: -1;
  transition: 0.5s ease;
}
.home-sci a:hover::before {
  filter: blur(5px);
}
.home-sci a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0c1022;
  border-radius: 50%;
  transform: scale(0.88);
  z-index: -1;
  transition: 0.5s ease;
}
.home-sci a:hover::after {
  transform: scale(0);
}
.home-img {
  width: 410px;
  height: 410px;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2.1s, 3.1s;
}
.home-img .glowing-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-img .glowing-circle::after {
  content: "";
  position: absolute;
  width: 380px;
  height: 380px;
  background: #0c1022;
  border-radius: 50%;
}
.glowing-circle span {
  position: absolute;
  width: 405px;
  height: 405px;
  background: linear-gradient(#f06, #3cf);
  border-radius: 50%;
  animation: circleRoate 5s linear infinite;
}
.glowing-circle span:nth-child(1) {
  filter: blur(15px);
}
.glowing-circle .image {
  position: relative;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
}
.image img {
  position: absolute;
  left: 10%;
  max-width: 350px;
  object-fit: cover;
}
/*KEYFRAMES ANIMATION*/
@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes circleRoate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* About design-->*/
.about {
  background: #080c18;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 6rem;
}
.heading {
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-align: center;
}
.about-img {
  position: relative;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2.1s, 3.1s;
}
.about-img img {
  width: 40%;
  border-radius: 50%;
  border: 0.2rem solid var(--second-color);
}
span {
  background: linear-gradient(45deg, #f06, #3cf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.about-content {
  text-align: center;
}
.about-content h3 {
  font-size: 2.6rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 0% 10% 0% 10%;
}
.btn-box btns {
  display: inline-block;
  width: 15rem;
}

/* Education design -->*/
.education {
  background: #0c1022;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
}
.education .education-row {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.education .education-column {
  flex: 1 1 40rem;
}
.education-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}
.education-column .education-box {
  border-left: 0.2rem solid var(--second-color);
}
.education-box .education-content {
  position: relative;
  padding-left: 2rem;
}
.education-box .education-content::before {
  content: "";
  position: absolute;
  left: -1.1rem;
  top: 0;
  width: 2rem;
  height: 2rem;
  background: var(--second-color);
  border-radius: 50%;
}
.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--second-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}
.education-content .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.5);
  z-index: 1;
  transition: width 0.5s; /* Apply transition on width change */
}

.education-content .content:hover::before {
  width: 100%;
}

.education-content .content .year {
  font-size: 2.5rem;
  background: linear-gradient(45deg, #f06, #3cf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-bottom: 2rem;
}
.education-content .content h3 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.education-content .content p {
  font-size: 1rem;
}

/* Skills design -->*/
.skills {
  background: #080c18;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 6rem;
  padding-left: 5%;
  padding-right: 5%;
}
.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.skills-row .skills-column {
  flex: 1 1 40rem;
}
.skills-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}
.skills-box .skills-content {
  position: relative;
  border: 0.2rem solid var(--second-color);
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
}
.skills-box .skills-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}
.skills-box .skills-content:hover::before {
  width: 100%;
}
.skills-content .progress {
  padding: 1rem 0;
}
.skills-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}
.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--second-color);
  padding: 0.5rem;
  margin: 1rem 0;
}
.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: linear-gradient(45deg, #f06, #3cf);
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 65%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 70%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
  width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
  width: 75%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
  width: 65%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
  width: 75%;
}

/* Portfolio design --> */
.portfolio {
  background: #0c1022;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
  padding-left: 5%;
  padding-right: 5%;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: #080c18;
  color: #fff;
}
.footer-text p {
  font-size: 1.6rem;
}
.footer-iconTop a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #f06, #3cf);
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  margin: 20px 0;
  z-index: 1;
}
.footer-iconTop a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #f06, #3cf);
  border-radius: 50%;
  z-index: -1;
  transition: 0.5s ease;
}
.footer-iconTop a:hover::before {
  filter: blur(5px);
}
.footer-iconTop a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0c1022;
  border-radius: 50%;
  transform: scale(0.88);
  z-index: -1;
  transition: 0.5s ease;
}
.footer-iconTop a:hover::after {
  transform: scale(0);
}
.footer-iconTop a i {
  font-size: 2.4rem;
  color: white;
}

/* BREAKPOINTS*/
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .home-sci {
    display: none;
  }
  .home-content a {
    font-size: 2rem;
    margin-bottom: 30%;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 4%;
  }
  .home-sci {
    display: none;
  }
  section {
    padding: 10rem 4% 2rem;
  }
  .home {
    padding: 0 4%;
  }
  .footer {
    padding: 2rem 4%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2%;
    background: #0c1022;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 4%;
    background: #0c1022;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
  .home {
    flex-direction: column;
  }
  .home-img {
    display: none;
  }
  .home-content {
    order: 1;
    margin-top: 50%;
    font-size: 2rem;
    align-items: center;
    text-align: center;
    margin-left: 4%;
  }
  .home-sci {
    display: none;
  }
  .home-content h1 {
    font-size: 3.5rem;
  }
  .home-content p {
    font-size: 2.5rem;
  }
  .home-content a {
    font-size: 2rem;
  }
}
